<script>
    app.controller('connectController', function ($scope, $rootScope, $http, $mdSidenav, $mdToast, $timeout, $log, $mdDialog, $mdpTimePicker, $compile, $element, $sce, $mdMedia, $interval,
        themeFactory, asyncFactory, cookieFactory) {
             
        $scope.theme = themeFactory.getTheme($scope.empresa);
        $scope.status = {};
        $scope.getStatus = function(){
            $rootScope.apiRun({ url: api_base + "shopify/connect/status", method: "GET" }).then(function (r) {

                $scope.status = r.data;
            })
        }
        $scope.getStatus();

        $scope.connect = function(){
            if($scope.status.step == 0){
                if($scope.status.token && $scope.status.token !== ""){
                    $rootScope.apiRun({ url: "shopify/auth", method: "PUT",data:{token: $scope.status.token} }).then(function (r) {
                        //window.location.href = $scope.status.auth_uri;
                        $scope.toaster("Autenticación de shopify actualizada",7,7,true, null, "Confirm");
                    })
                }else{
                    $scope.toaster("Debes indicar un token valido para shopify",7,7,true,null,"Error");
                }
               
                
            }else{
                $rootScope.apiRun({ url: "shopify/auth", method: "DELETE" }).then(function (r) {

                    $scope.getStatus();
                })
                //$scope.toaster("Ya estás conectado",7,7,true, null, "Confirm")
            }
           
        }
      
    });
</script>
<div ng-cloak ng-controller="connectController" style="width:100%;  height:100%; background-color:{{ambiente.dark? ambiente.backgroundColor: '#fff'}}" id="panelPrincipal">
    <h1 style=" color:{{ambiente.fontColor}}">Conector Shopify</h1>
    <div style="margin-top:12px; border-style:solid; border-width:1px; border-color:#959595; border-radius:7px; padding:15px;"> 
        <div layout="row" layout-align="start end" style="width:100%;">
            <aur-input style="margin-right:7px;" flex model="status.token" theme="theme" aur-type="'text'" settings="{label:true, error:error, disabled:(status.step >0)}" nombre="'Recurso de acceso'"></aur-input>
            <div layout="column" layout-align="center end">
                <aur-button  color="status.step == 0" theme="theme" nombre="status.step == 0 ? 'Conectar' : 'Desconectar'" ng-click="connect();" class="noborder"></aur-button>
            </div>
            <span flex></span>
        </div>
    </div>
    
  
    
</div>
